<!doctype html>
<html>
        <head>
        </head>
            <!-- Latest compiled and minified CSS -->
            <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

            <!-- Optional theme -->
            <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

            <!-- Latest compiled and minified JavaScript -->
            <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    
        <body>
            <div>
                <h1>UCLA HSSEAS Tour Follow-Up</h1>
                <b></b>
                <h2>Hello, {{data.name}}.</h2>
                <b></b>
                <b></b>
            </div>
            <div class="container">
    <div class="row">
        <form role="form">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="InputMessage">How awesome was your tour guide?</label>
                    <div class="input-group">
                        <textarea name="first" id="InputMessage" class="form-control" rows="5" ></textarea>
                        <span class="input-group-addon"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="InputMessage">Was there anything you would have liked to have heard about, but didn't?</label>
                    <div class="input-group">
                        <textarea name="second" id="InputMessage" class="form-control" rows="5" ></textarea>
                        <span class="input-group-addon"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="InputMessage">Or perhaps heard about, but could have done without?</label>
                    <div class="input-group">
                        <textarea name="third" id="InputMessage" class="form-control" rows="5" ></textarea>
                        <span class="input-group-addon"></span>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-info pull-right">
            </div>
        </form>
    </div>
</div>
        </body>
</html>
